cenarius-form {
	width: 100%;
	margin: 2px;
}

cenarius-hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 3px solid #0aa;
	padding: 0; 
}

h2 {
	margin-left: -12px;
	margin-bottom: 3px;
}

h3 {
	margin-left: -14px;
	margin-bottom: 4px;
}

h4 {
	margin-left: -13px;
	margin-bottom: 2px;
}

textarea {
	resize:vertical;
}

label {	
	line-height: 0;
}

select {
	direction: rtl;
}

option {
	direction: ltr;
	text-align-last: right;
	text-align: right;
}

.cenarius-main-block {
	background-color: #e5f7f0;
	display: inline-block;
}

.cenarius-col-center {
	float: none;
	margin: 0 auto;
}

.cenarius-group {
	border-style: solid;
	padding: 4px;
	margin-bottom: 8px;
}

.cenarius-input-wrapper {
	padding: 2px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label span:first-child {
    opacity: 0.1;
}

input[type="checkbox"]:checked + label span:first-child {
    opacity: 1;
}

.btn {
	display: table-cell;
}

.cenarius-ckbx-lbl {
    width: 100%;
}