body{
	font-family: '文泉驛正黑','WenQuanYi Zen Hei','微軟正黑體','Microsoft JhengHei',Arial,sans-serif;
}

cenarius-form {
	width: 100%;
	margin: 2px;
}

cenarius-hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 3px solid #afafaf;
	padding: 0;
}

#bootstrap-overrides span {
	font-size: 1.8vw;
}

#bootstrap-overrides span.glyphicon {
	font-size: 1.6vw;
}

#bootstrap-overrides h2 {
	margin-left: -12px;
	margin-bottom: 3px;
}


#bootstrap-overrides h3 {
	margin-left: -14px;
	margin-bottom: 4px;
}


#bootstrap-overrides h4 {
	margin-left: -13px;
	margin-bottom: 2px;
}


#bootstrap-overrides textarea {
	resize: vertical;
}


#bootstrap-overrides label {
	line-height: 1;
}

#bootstrap-overrides label.btn {
	font-size: 1.6vw;
}


#bootstrap-overrides select {
	direction: rtl;
}

#bootstrap-overrides option {
	direction: ltr;
	text-align-last: right;
	text-align: right;
}

#bootstrap-overrides textarea {
	min-height: 80px;
}

.cenarius-group {
	padding: 1px;
}

.cenarius-input-wrapper {
	padding: 5px;
}

input[type="checkbox"] {
	opacity: 0;
	position: absolute;
	top: 0;
	height: 0;
	width: 0;
}

input[type="checkbox"] ~ .checkbox-displayer span:first-child {
	opacity: 0.1;
}

input[type="checkbox"]:checked ~ .checkbox-displayer span:first-child {
	opacity: 1;
}

.cenarius-ckbx-lbl {
	width: 100%;
	height: 36px;
	display: table-cell;
	padding: 4px 4px;
}

.cenarius-ckbx-btn {
	vertical-align: middle;
	text-align: center;
	display: table-cell !important;
	max-width: 40px !important;
	max-height: 40px !important;
}

.cenarius-chbkx-icon {
	width: 16px !important;
	height: 16px !important;
}

.tab-content {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
	display: inline-block;
}

.nav-tabs {
	margin-bottom: 0;
}

.glyphicon {
	display:inline-table;
}

.cenarius-new-tab-btn {
	margin-left: 10px;
}

.cenarius-del-tab-btn {
	margin-left: 10px;
}

.form-control {
	height: 36px;
}

.panel-heading {
	font-weight:bold; 
	font-size: 2.2vw; 
}

div[class*="col-"] {
	padding-left: 5px;
	padding-right: 5px;
}

.cenarius-content {
	background: #ddefdd;
	overflow-y:scroll;
	height: calc(100vh - 80px);
}

.cenarius-ctrl-panel {
	min-height: 80px;
	max-height: 80px;
	transition: all 0.4s ease 0s;
	background: #e6e2d3;
	z-index: 1000;
}

#cenarius_reset_btn{ 
	float: left;
	margin-top: 2.5vh;
	margin-left: 2.5vh;
}

#cenarius_summarize_btn{ 
	float: right;
	margin-top: 2.5vh;
	margin-right: 2.5vh;
}

#cenarius_submit_btn{ 
	float: right;
	margin-top: 2.5vh;
	margin-right: 2.5vh;
}

#bootstrap-overrides div[class*="alert"] {
	margin-bottom: 5px; 
	margin-top: 5px;
	font-size: 2vw;
}