.cenarius-main-block {
	background-color: #e5f7f0;
	display: inline-block;
}

.cenarius-col-center {
	float: none;
	margin: 0 auto;
}

.cenarius-input {
	width: 95%;
	min-height: 28px;
	margin-top: 5px;
	margin-bottom: 5px;

	position: absolute;
	bottom: 0;
}

.cenarius-cell {
	min-height: 54px;
	position: relative;
}

.cenarius-cell-tall {
	min-height: 108px;
	position: relative;
}

.cenarius-fieldset {
	margin-left: 20px;
	margin-bottom: 10px;
}

.cenarius-checkbox {
	margin-left: 30px;

	position: absolute;
	bottom: 0;
	margin-bottom: 35px;
}

.cenarius-tabarray {
	width: 100%;
	min-height: 200px;
}
input[type=checkbox] {
  transform: scale(2);
}