
@{
    ViewBag.Title = "Index";
}

<h2>Breast Cancer Reports Index</h2>

@foreach (var m in ViewData.Model)
{
    <li>
        <tr>ID: @m.ID</tr>
        <tr>Name: @m.Name</tr>
    </li>
}