<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Cenarius Error</title>
</head>


<body style="font-size: 22px">
    <h2>
        <font color="red">
            <b>
                @ViewData["Heading"]
            </b>
        </font>
    </h2>
    <pre>@ViewData["Message"]</pre>
</body>
</html>