<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Cenarius</title>

    <!-- css deps -->
    <link rel="stylesheet" href="../../Libraries/Bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../../Libraries/CenariusForm/CenariusForm.css" />

    <!-- js deps -->
    <script type="text/javascript" src="../../Libraries/JQuery/jquery.min.js"></script>
    <script type="text/javascript" src="../../Libraries/Underscore/underscore-min.js"></script>
    <script type="text/javascript" src="../../Libraries/Bootstrap/bootstrap.min.js"></script>
</head>

<body style="background: #2f5437" id="bootstrap-overrides">
    <div class="panel panel-default forma-uploader">
        <div class="panel-heading">
            <font style="text-align: center">
                <h2>
                    <b>
                        Upload New Forma
                    </b>
                </h2>
            </font>
        </div>
        <form action="~/UploadForma" method="post" enctype='multipart/form-data'>
            <div class="panel-body">
                <div class="container-fluid" style="margin-top: 40px; margin-left: 30px;">
                    <div class="row">
                        <input type="file" name="formaFile" accept=".json"/>
                        <button type="submit" class="btn btn-primary" style="float: right; margin-top: -30px; margin-right: 30px">
                            <span class="glyphicon glyphicon-cloud-upload" style="font-size: 25px"></span>
                            <font size="5">Submit</font>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>